<%= link_to trip_path(trip) do %>
<div class="d-flex justify-contents-between align-items-center popup-details popup-container">
  <h4><%= humanized_money_with_symbol trip.price %></h4>
  <div>
    <p class="not-red"><%= trip.start_time.strftime("%k:%M %a, %b %e")%></p>
    <p class="not-red"><%= trip.user.first_name %> <%= trip.user.last_name %></p>
  </div>
</div>
<% end %>
