<div class="banner" id="index-banner">
  <div class="index-illu">
    <%= image_tag 'scooter.png', class: 'img-banner' %>
  </div>

  <div class="header-text">
    <h1 class="index-h1">Find a driver and send your item on a ride</h1>
    <p class="index-p">Forgot your laptop charger at your parent's house in Munich and you live in Berlin? Found the perfect piece of furniture on Ebay Kleinanzeigen but it's in Hamburg and you live in Cologne?</p>

      <%= form_tag trips_path, class: "form", id: "search-bar", method: :get do %>
        <%= text_field_tag :start_location,
            params[:start_location],
            class: "form-control search-field location",
            placeholder: "Where is your item?"
        %>
        <p class="search-separator">|</p>
        <%= text_field_tag :end_location,
            params[:end_location],
            class: "form-control search-field location",
            placeholder: "Where is it going?"
        %>
         <p class="search-separator">|</p>
        <%= date_field_tag :date,
            Date.today,
            class: "form-control search-field"
        %>
         <p class="search-separator">|</p>
        <%= select_tag(:capacity, options_for_select(Trip::CAPACITY, params[:capacity]),class: "form-control search-field",  prompt: "Select item size ▾") %>
        <%= submit_tag "Find a Driver", class: "index-button" %>
    <% end %>
  </div>
</div>

<% if @trips.count.positive? %>
  <% if params[:date] %>
    <% date = Date.parse(params[:date]) %>
    <p>Trips leaving on <%= date.strftime("%A, %B %d")%></h5>
  <% else %>
    <h5>All the trips</h5>
  <% end %>
  <div class="trip-container">
    <div class="trip-details">
      <% @trips.each_with_index do |trip, index| %>
        <%=  render partial: 'show', locals: {trip: trip, index: index} %>
       <% end %>
    </div>
    <% if params[:start_location] || params[:end_location] || params[:date] || params[:capacity] %>
      <div id="map"
        style="width: 50%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <% end %>
  </div>
<% else %>
  <div class="results-container">
    <h5>No upcoming trips match your search criteria</h5>
    <h5>Please change your criteria and try again!</h5>
  </div>
<% end %>
