<div class="message-container <%= message.user == current_user ? "text-sender text-right" : "text-driver" %>" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.first_name %></span>
    <small><%= (message.created_at + 2.hours).strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
