<h2>Edit Your Profile</h2>
<h5>You are registered as a sender
<% if current_user.driver %>
  and a driver.</h5>
<% else %>
  </h5>
  <%= link_to "Become a Driver", become_driver_path %>
<% end %>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                placeholder: "Leave blank if you don't need to change your password.",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                placeholder: "We need your current password to confirm your changes.",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :first_name,
                required: false,
                input_html: { autocomplete: "given-name" } %>
    <%= f.input :last_name,
                  required: false,
                  input_html: { autocomplete: "family-name" } %>
    <%= f.input :address,
                  input_html: { id: "address_input" } %>
    <%= f.input :phone_number,
                  input_html: { id: "tel" } %>
    <%= f.input :birthday,
                  input_html: { id: "bday" } %>
    <% if current_user.driver %>
      <%= f.input :car_type,
        required: true,
        label: 'What kind of car will you be driving?' %>
      <%= f.input :years_driving,
        required: true,
        label: "How many years have you had a driver's license?"  %>
    <% end %>
    <%= f.input :avatar, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Your Profile" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
