<div class="container">
<div class="d-flex align-items-center p-2">
  <%= link_to :back, class: "back-arrow" do %> 
    <i class="fas fa-chevron-left"></i>
  <% end %> <h2 class="back-arrow-text">Booking Requests for your trip from</h2>
  </div>
  <div class="cards d-flex flex-row justify-space-around flex-wrap">
    <% @bookings.each_with_index do |booking, index| %>
      <div class="card">
        <div class="container card-items">
          <div><%= image_tag booking.user.avatar, class: 'avatar' %></div>
          <h3><%= booking.user.first_name %></h3>
        </div>
        <div class="container">
          <p><i class="fas fa-box-open"></i> <%= booking.item %></p>
          <p><i class="fas fa-compress-alt"></i> <%= booking.size %></p>
          <p><i class="far fa-heart"></i> needs to be coded</p>
        </div>
        <div class="container">
          <div class="grey-field">
            <%= booking.description %>
          </div>
        </div>
        <div class="container">
          <% if booking.pending? %>
            <button class="button" id="modal-trigger-button" data-tracker="<%=index%>">Accept</button>
            <%= link_to "Decline", decline_path(booking), class: "button", method: :patch, controller: :bookings_controller,
                data: { confirm: 'Are you sure you want to decline this booking?' } %>
          <% else %>
            <p>Request <%= booking.status.capitalize %> </p>
            <% if booking.accepted? && booking.chatroom.present? %>
              <%= link_to "Chat", chatroom_path(booking.chatroom), class: "button-chat" %>
            <% end %>
          <% end %>
        </div>

      </div>

        <div class="modal-container modal-<%=index%> modal-hidden" id="accept-modal">
          <div class="modal-inner">
            <div class="modal-text">
              <h5>You are accepting <%= booking.user.first_name %>'s booking. <i class="fas fa-check"></i></h5>
              <p><strong>Is your car full now?</strong></p>
              <p>
                You listed your trip capacity as <%= @trip.capacity %>. Would you like to leave your trip listed and accept more bookings, or have you reached capacity?
              </p>
            </div>
            <div class="modal-buttons">
              <%= link_to "My car is full", accept_path(booking, remove_listing: true), method: :patch, controller: :bookings_controller %>
              <%= link_to "I can take more", accept_path(booking, remove_listing: false), class: "button", method: :patch, controller: :bookings_controller %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
