<div class="container">

  <h1><%= @trip.start_location %> <%= @trip.start_time.strftime("%A, %B %d") %></h1>

  <div class="cards d-flex flex-row justify-space-around">
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="container card-items">
          <div>
          <%= image_tag booking.user.avatar, class: 'avatar' %></div>
          <div><h3><%= booking.user.first_name %></h3></div>
        </div>
        <div class="container">
          <p><i class="fas fa-box-open"></i> <%= booking.item %></p>
          <p><i class="fas fa-compress-alt"></i> <%= booking.size %></p>
          <p><i class="far fa-heart"></i> needs to be coded</p>
        </div>
        <div class="container">
          <div class="grey-field">
            <%= booking.description %>
          </div>
        </div>
        <div class="container">
          <% if booking.pending? %>
            <%= link_to "Accept", accept_path(booking.trip.id), class: "button", method: :patch, controller: :bookings_controller %>

            <%= link_to "Decline", decline_path(booking.trip.id), class: "button", method: :patch, controller: :bookings_controller, data: { confirm: 'Are you sure you want to decline this booking?' } %>
          <% else %>
            <p>〉request <%= booking.status %> </p>
          <% end %>
        </div>
        <div>
      </div>
    <% end %>
  </div>
</div>
