<div class="container">
  <div class="d-flex justify-content-around">
    <div class="mt-5">
      <div class="d-flex align-items-center p-2">
        <%= link_to :back, class: "back-arrow" do %> 
          <i class="fas fa-chevron-left"></i>
        <% end %> <h2 class="back-arrow-text">Create a booking to</h2>
        </div>
        <h2 class="back-arrow-text-2">send your item quickly</h2> 
        <h2 class="back-arrow-text-2">and sustainably</h2>
        <%= image_tag('mini2.png', width: "500", height: "400") %>
    </div>

    <div>
      <h4><%= @trip.start_time.strftime("%A, %B %d") %></h4>
      <p><%= @trip.start_time.strftime("%k:%M") %> <%= @trip.start_location %></p>
      <i class="fas fa-long-arrow-alt-down"></i>
      <p> <%= @trip.end_time.strftime("%k:%M") %> <%= @trip.end_location %></p>
      <div class="d-flex justify-content-between"> 
        <p>Price for one item:</p>
        <%= humanized_money_with_symbol @trip.price %> 
      </div>
      <div>
        <%= simple_form_for [@trip, @booking] do |f| %>
          <% if params[:size] %>
            <%= f.input :size, as: :radio_buttons, collection: [:small, :medium, :large], label: 'What size is your item?', include_hidden: false, checked: params[:size].downcase.to_sym   %>
          <% else %>
            <%= f.input :size, as: :radio_buttons, collection: [:small, :medium, :large], label: 'What size is your item?', include_hidden: false  %>
          <% end %>
          <%= f.input :item, label: 'What item are you sending?' %>
          <%= f.input :description, label: 'What does the driver need to know?' %>
          <%= f.submit 'Book this trip' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
